body{
    display: flex;
    flex-direction: row;
}
.rsc-left-area, .rsc-right-area{
    width: 15%; 
    min-width: none;
    /* background-color: red; */
}
.rsc-main-area{
    width: 70%;
    min-width: 800px;
    min-height: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----[ 페이지 리스트 조회 ]---- */
.rsc-page-list, .rsc-page-title{
    display: block;
    width: 1000px;
}

.rsc-page-list>a, .rsc-page-list{
    text-decoration: none;
    font-size: 13px;
    color: #767676;
}

/*----[ 페이지 제목 ]----*/
.rsc-page-title{
    font-size: 33px;
    color: #000000;
}

/*----[ 상단 이미지 영역 ]----*/
#rsc-image-text{
    font-size: 16px;
    letter-spacing: -1px;
    color: #000000;
}

/*----[ 버튼 (메뉴 전체보기 / 다이닝이벤트) ]----*/

.rsc-btn{
    display: flex;
    flex-direction: row;
    width: 1000px;
}

#rsc-btn-menu, #rsc-btn-event{
    width: 210px;
    height: 58px;
    font-size: 17px;
    font-weight: bold;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #c9c9c9;
}

/*----[ 안내사항 ]----*/
#rsc-notification{
    display: block;
    background-color: #f8f8f8;
    width: 1000px;
    text-align: left;
}
#rsc-notification-p{
    padding: 13px 20px;
}


/*----[ 1번 테이블 (인피니티 온수 풀, 이용안내) ]----*/
#rsc-blank{
    height: 10px;
}
#rsc-table-pool td{
    padding-left: 15px;
    border-top: none;
    border-left: none;
}
#rsc-table-pool{
    width: 1000px;
    border-top: 3px #000000 solid;
}
#rsc-last-tr td{
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}

/*----[ 2번 테이블 (인피니티 바) ]----*/
#rsc-blank{
    height: 10px;
}

/* 까지 완성 */
#rsc-table-var{
    border-top: 3px solid #000000;
    border-bottom: 1px solid #c9c9c9;
    width: 1000px;
}
#rsc-table-var td{
    padding-left: 15px;
}



















